In [1]:
import pandas as pd

artists = pd.read_csv('data/artist_info_2019-01-01__2020-01-01.csv')
artists.head()

,artist,genres,popularity,followers,artist_id
0,Ariana Grande,"['dance pop', 'pop']",93,72091927,66CXWjxzNUsdJxJ2JdwvnR
1,Post Malone,"['dfw rap', 'melodic rap', 'rap']",91,34933440,246dkjvS1zLTtiykXe5h60
2,DJ Snake,"['dance pop', 'edm', 'electronic trap', 'pop',...",82,7611219,540vIaP2JwjQb9dm3aArA4
3,Bad Bunny,"['latin', 'reggaeton', 'trap latino']",96,39969523,4q3ewBCX7sLwd24euuV69X
4,Travis Scott,"['rap', 'slap house']",92,18998139,0Y5tJX1MQlPlqiwlOH1tJY